<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayktec.DialogaCity" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginCityWowzer"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="oGGjfA57jT9U5pUVmuyP" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="CK6hB6j0Q-_ivWlHFj6vcQ" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="KZUiPQ6bThKiKy3JhuqPbYbDZYSdAEhqFzKubmpZqeDNCqJMexOraZ09ODwEyk/h7rxB7UCoJpD8Nl6EoEu9DdYcSoFqhv49D5MpiXDU8Z4KKGkb8Fu6dn1Ok86gZK+/G4mLYTMrBnfFaeqFXB4csI7L2fMDZrLRa0bvawVtziFnngqu0hEnQWQhZ1c6Y9IvFOm43P+DMJvX+ZI9WvzDGtU206YGk83Gk0GGtrzSFNktOaU2WKrz4GfOrh2wjewi6Yg7dCaVlG4sOrEiHAMXwUTiMVBO3Ahg8rvI0I0f3wuI5kW3+04qtc02xaFv7l/L1Y2HODCEhbF+r8JQs+gxlf8n7dhAcrgz2QRngb1kSnpMQMyO8vGcze4eSX1ha26dJuxNlqxHIU+lqJXnH9KmGAEqd5YI5uZeoeuuRoRj7XdDj3xpHfmLcDw8bFBSLSLmqxx669KDR4kiim5T8NVbzL6LQ/MdvgsW99L8h1F2Q/V/Ipp3K0AZcCYOe6qJLJh36vxdsMLJFG6LjMg3xt0II1bDsjX1bDXjZbTWIeWiPcw710YF1egMabLy/MujI3l+/4eHwhIv4TTmmvDEvYmqYG4lsWZx6u2y9Y9QPmRVW/XjDmt69AVNPs51SLlTtlWJ6wI0sKr9duURtn0bKQLUn0DCIaTP0JHKCgyo1LVgmjw=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="true"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2" >
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>

        <service
            android:name=".GPSTracker"
            android:exported="true" >
        </service>
        <service
            android:name=".ServicioSincronizacion"
            android:exported="true" >
        </service>
        <receiver android:name=".BootServicio">
                <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED">
                </action></intent-filter>
        </receiver>
        <service
            android:name=".ServicioNotificacion"
            android:exported="true" >

        </service>
        <service android:name=".ServicioMusica" />

        <activity
            android:name=".ActividadMapaCityWowzer"
            android:label="@string/title_activity_login_city_wowzer" >
        </activity>
        <activity
            android:name=".RegistroCityWowzer"
            android:label="@string/title_activity_registro_city_wowzer" >
        </activity>
        <activity
            android:name=".DenunciaActivity"
            android:label="@string/title_activity_denuncias" >
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ActividadMapaCityWowzer"/>
        </activity>

        <activity
            android:name=".ListadoDenuncias"
            android:label="@string/title_activity_listado_denuncias" >
        </activity>
        <activity
            android:name=".ListadoComentarios"
            android:label="@string/title_activity_listado_comentarios" >
        </activity>
        <activity
            android:name=".ComentarioActivity"
            android:label="@string/title_activity_comentario" >
        </activity>
        <activity
            android:name=".MostrarImagen"
            android:label="@string/title_activity_mostrar_imagen" >
        </activity>
        <activity
            android:name=".MenuConfiguracion"
            android:label="@string/title_activity_menu_configuracion" >
        </activity>
    </application>

</manifest>
